*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: '#333';
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.addBtn {
  border: none;
  background: #5a7759;
  color: #273b27;
  font-family: Alfa Slab One, cursive;
  padding: 10px 20px;
  cursor: pointer;
}
.addBtn:hover {
  background-color: #5a77599c;
}


